* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #2ECC71;
    color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 40px;
    margin-right: auto;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
}

nav ul li {
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #007bff;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul li:hover ul {
    display: block;
}
nav{
    display: flex;
    row-gap: 10px;
}

nav ul li ul li {
    margin: 0;
}

nav ul li ul li a {
    padding: 5px 10px;            
}

li:nth-child(n){
    font-size: 20px;
}
.search-bar {
    display: flex;
    align-items: center;
    margin: 0 auto; /* Center the search bar horizontally */
}
.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    padding: 8px 15px;
    background-color: #FF9900;
    color: #ffffff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

section#shop-categories {
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

section#shop-categories h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333333;
}

section#shop-categories ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section#shop-categories ul li {
    margin-bottom: 20px;
    text-align: center;
    width: calc(50% - 20px); /* Adjusted width */
}

section#shop-categories ul li a {
    text-decoration: none;
    color: #333333;
    padding: 20px 30px; /* Increased padding */
    border: 1px solid #cccccc;
    border-radius: 8px;
    display: block;
    transition: background-color 0.3s;
}

section#shop-categories ul li a:hover {
    background-color: #f0f0f0;
}

nav ul li:nth-last-child(1) {
    margin-right: 20px;
}

footer {
    background-color: #232f3e;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
